<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.turtlelab.andowsignage"
    android:versionCode="2"
    android:versionName="@string/app_version" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:name=".AndoWSignageApp"
    	android:largeHeap="true"
        android:icon="@drawable/turtle_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
	    
		<service android:name="kr.co.turtlelab.andowsignage.services.PowerService" android:enabled="true"/>
		<service android:name="kr.co.turtlelab.andowsignage.services.ConfigLinkService" android:enabled="true"/>
		<service android:name="kr.co.turtlelab.andowsignage.services.UpdateManagerService" android:enabled="true"/>
		<service android:name="kr.co.turtlelab.andowsignage.services.HeartbeatService" android:enabled="true"/>
		
		<receiver android:name=".receivers.WakeOrSleepReceiver" android:enabled="true">
		    <intent-filter>
		        <action android:name="andowsignage.intent.action.WAKEUP"/>
		        <action android:name="andowsignage.intent.action.SLEEP"/>
		        <category android:name="android.intent.category.LAUNCHER"/>
		    </intent-filter>
		</receiver>
		
		<receiver android:name=".receivers.NetworkChangeReceiver" android:enabled="true">
		    <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
		</receiver>
		
 		<receiver android:name="kr.co.turtlelab.andowsignage.receivers.USBReceiver" android:enabled="true">
             <intent-filter>
                 <action android:name="android.intent.action.MEDIA_MOUNTED" />
                 <data android:scheme="file" />
             </intent-filter>
   		</receiver>
		
        <activity
            android:name=".AndoWSignage"
            android:label="@string/app_name"
            android:noHistory="true"
            android:finishOnTaskLaunch="true"
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
